DEBUG_MODE=false

# Blockchain RPC Configuration
EXPO_PUBLIC_INFURA_API_KEY=your_infura_api_key_here

# Optional: Custom RPC URLs (if not using Infura) System will first try non infura then use infura as fallback
EXPO_PUBLIC_ETHEREUM_RPC_URL=https://mainnet.infura.io/v3/YOUR_INFURA_KEY
EXPO_PUBLIC_CELO_RPC_URL=https://forno.celo.org
EXPO_PUBLIC_GNOSIS_RPC_URL=https://rpc.gnosischain.com
# Optional WebSocket URLs for other default chains
EXPO_PUBLIC_CELO_WS_URL=wss://forno.celo.org/ws
# EXPO_PUBLIC_ETHEREUM_WS_URL=wss://mainnet.infura.io/ws/v3/YOUR_INFURA_KEY
# EXPO_PUBLIC_GNOSIS_WS_URL=

# Development
EXPO_PUBLIC_ENV=development
EXPO_PUBLIC_EAS_PROJECT_ID=your_eas_project_id_here